main,
header,
footer {
  padding-left: 300px;
}

.titleNav {
  padding-left: 310px;
  font-size: 20pt;
}

.errorText,
#skpd-error,
#otoritas-error {
  color: red;
  font-size: 10px;
}

.select-wrapper label.invalid {
  margin-top: 62px;
  margin-left: -11px;
  color: blue;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer,
  .titleNav {
    padding-left: 0;
  }
}

.img-login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.card-login {
  margin: 20% 0;
  max-width: 500px;
  border-radius: 10px;
}

.title-login {
  text-align: center;
  font-size: 16pt;
  font-family: sans-serif;
  margin: 10pt 0;
}

#namaPenyelia {
  position: relative;
  font-size: 12px;
}

#selectPenyelia {
  /* position: fixed; */
  margin-left: 10px;
  margin-top: 15px;
}

.row {
  margin-bottom: 0px;
}

.input-file-usulan {
  padding-left: 21px;
  padding-right: 23px;
}

.pengusul-skpd-button {
  float: right;
  margin-right: 23px;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

.filer-name {
  margin-left: 0px !important;
  padding-bottom: 30px !important;
  padding-left: 0px !important;
}

.text-usulan {
  margin: 0 0 0 0 !important;
}

.text-tahapan-sebelum {
  margin-top: 0 !important;
}

.input-otoritas-usulan {
  /* padding-left: 10px; */
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.card-nav {
  margin-bottom: 0px !important;
}

.content-nav {
  margin-top: 15px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
